---
import AddProject1 from '../../../Components/AddProject1.jsx';
import {Toaster} from 'react-hot-toast';
const {slug}=Astro.params;

export async function getStaticPaths() {
  
  let data = await fetch("http://localhost:8081/getallpatient");
  let posts = await data.json();

  return posts.map((post) => ({
    params: { slug: post.patientid, },
   
  }));
}

let res = await fetch(`http://localhost:8081/getpatientbyid/${slug}`)
let post= await res.json();

---
<script>
    document.addEventListener("DOMContentLoaded", function(){
    setTimeout(function(){
        var replacers = document.querySelectorAll('[data-replace]');
        for(var i=0; i<replacers.length; i++){
            console.log('hit here2');
            let replaceClasses = JSON.parse(replacers[i].dataset.replace.replace(/'/g, '"'));
            Object.keys(replaceClasses).forEach(function(key) {
                replacers[i].classList.remove(key);
                replacers[i].classList.add(replaceClasses[key]);
            });
        }
    }, 1);
  });
  </script>
  <html>
    <Toaster client:load/>
      <div class="min-h-screen bg-gray-100 flex flex-col justify-center py-12 px-6 lg:px-8 duration-700 relative transform opacity-0 transition-all translate-y-12 ease-out"  data-replace='{ "translate-y-12": "translate-y-0", "opacity-0": "opacity-100" }'>
          <div class="sm:mx-auto sm:w-full sm:max-w-md">
            <div class="mx-auto w-20 h-20 relative mt-8 border-4 border-white rounded-full overflow-hidden">
                <img class="object-cover object-center h-20" src={post.patientpic} alt="Bondamani" />
              </div>
              <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">{post.patientname}</h2>
              <p class="mt-6 text-center text-xl font-thin text-gray-900">Age: {post.patientage}{" "}-{" "}{post.patientgender}</p>
              
              
            </div>
        <AddProject1 client:load patientid={slug} medicineid="Indukantham"/>
        <AddProject1 client:load patientid={slug} medicineid="Nayopayam"/>
        <AddProject1 client:load patientid={slug} medicineid="Pathya Shadamgam"/>
        <AddProject1 client:load patientid={slug} medicineid="Elakanadi"/>
        <AddProject1 client:load patientid={slug} medicineid="Vyaghryadi"/>
        <AddProject1 client:load patientid={slug} medicineid="Drakshadi"/>
        <AddProject1 client:load patientid={slug} medicineid="Pippali Choornam"/>
          </div>
  </html>